

//======================VARIABLES DARK THEME ===============
// body.dark-theme{
//   //------HSL COLOR MODE------------
//   // $first-color: hsl($hue-color, 69%, 61%);
//   $first-color-second: hsl($hue-color, 30%, 8%);
//   // $first-color-alt: hsl($hue-color, 57%, 53%);
//   // $first-color-lighter: hsl($hue-color, 92%, 85%);
//   $title-color: hsl($hue-color, 8%, 95%);
//   $text-color: hsl($hue-color, 8%, 75%); 
//   // $text-color-light: hsl($hue-color, 8%, 65%); 
//   $input-color: hsl($hue-color, 29%, 16%); 
//   $body-color: hsl($hue-color, 28%, 12%); 
//   $container-color: hsl($hue-color, 29%, 16%);
// }

//============BASE ================
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}


h1,h2,h3,h4{
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

//===============REUSABLE SCSS CLASSES================
.section {
  padding: 2rem 0 4rem; 

  &__title{
    font-size: $h1-font-size; 
  }

  &__subtitle{
    display: block;
    font-size: $small-font-size;
    margin-bottom: $mb-3; 
  }

  &__title, &__subtitle{
    text-align: center;
  }
}


//================LAYOUT======================
.container{
  max-width: 768px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid{
  display: grid;
  gap: 1.5rem;
}
