//===================SKILLS==============

.skills{
  &__container{
    row-gap: 0;
  }

  &__header{
    display: flex;
    align-items: center;
    margin-bottom: $mb-2-5;
    cursor: pointer;
  }

  &__icon, &__arrow{
    font-size: 2rem;
    color: $first-color;
  }

  &__icon{
    margin-right: $mb-0-75;
  }

  &__title{
    font-size: $h3-font-size;
  }

  &__subtitle{
    font-size: $small-font-size;
    color: $text-color-light;
  }

  &__arrow{
    margin-left: auto;
    transition: .4s;
  }

  &__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-0-5;

  }

  &__name{
    font-size: $normal-font-size;
    font-weight: $font-medium;
  }

  &__bar, &__percentage{
    height: 5px;
    border-radius: .25rem;
  }

  &__bar{
    background-color: $first-color-lighter;
  }

  &__percentage{
    display: block;
    background-color: $first-color;
  }

  &__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    height: 0;
    overflow: hidden;
  }

  &__open &__list{
    height: max-content;
    margin-bottom: $mb-2-5;
  }

  &__open &__arrow{
    transform: rotate(-180deg);
  }

  // &__close &__list{
  //   height: 0;
  //   overflow: hidden;
  // }

  // &__open &__list{
  //   height: max-content;
  //   margin-bottom: $mb-2-5;
  // }

  // &__open &__arrow{
  //   transform: rotate(-180deg);
  // }

  &__html{
    width: 90%;
  }

  &__css{
    width: 80%;
  }

  &__js{
    width: 60%;
  }
  &__react{
    width: 85%;
  }
  &__php{
    width: 80%;
  }
  &__node{
    width: 70%;
  }
  &__firebase{
    width: 90%;
  }
  &__python{
    width: 55%;
  }
  &__figma{
    width: 90%;
  }
  &__sketch{
    width: 85%;
  }
  &__photoshop{
    width: 85%;
  }
}